
<div class="container bread">
    <h4 class="hot-title">影片详情</h4>
</div>



<div class="container" ng-controller="detial">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3" ng-repeat="item in data">
            <img src="{{item.images}}" class="movieimg">
        </div>
        <div class="col-lg-10 col-md-9 col-sm-9 Code-parent" ng-repeat="item in data">
            <div id="QRCode">
                <img src="public/images/111.png" style="width: 70%;">
                <p>扫我看片哟~~</p>
            </div>
            <h3>{{item.name}}&nbsp;<span>({{item.date}})</span>&nbsp;&nbsp;<span id="miniQRCode"><img src="./public/images/QRCode.svg"></span></h3>
            <script type="text/javascript">
                $("#miniQRCode").mouseover(function(){
                    $("#QRCode").show();
                }).mouseout(function() {
                    $("#QRCode").hide();
                });
            </script>
            <h4>主演：<span>{{item.performer}}</span></h4>
            <p>{{item.brief}}</p>
        </div>
    </div>
</div>

<div class="container bread">
    <h5 class="hot-title">在线播放</h5>
</div>

<div class="container">
    <div class="row" ng-controller="yunurl">
        <div class="usercomment"  ng-repeat="item in data">
            <a href="{{item.doubanurl}}" class="btn btn-primary btn-lg" style="margin: 20px;">豆瓣解析</a>
            <a href="{{item.heighturl}}" class="btn btn-primary btn-lg" style="margin: 20px;">高清影音</a>
        </div>
    </div>
</div>

<div class="container bread">
    <h5 class="hot-title">猜你喜欢</h5>
</div>

<div ng-controller="foryou">
    <div class="container">
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2 item-box" ng-repeat="item in data|orderBy:'score': true">
            <a href="#!/detail/{{item.id}}">
                <img src="{{item.images}}" title="{{item.name}}">
            </a>
        </div>
    </div>
</div>

<div class="container bread">
    <h5 class="hot-title">影片评论</h5>
</div>

<div class="container pinglun" ng-controller="userComment">

    <div class="row" ng-repeat="item in comments">
        <div class="usercomment">
            <div class="user">
                <img src="{{item.face}}" class="faceimg">
                <p>{{item.username}} <span>{{item.date*1000 | date:'yyyy年MM月dd日 HH时mm分ss秒'}}</span></p>
            </div>
            <div class="comment">
                <p>{{item.content}}</p>
            </div>
        </div>
    </div>

    <div class="userinput">
        <textarea placeholder="请输入评论内容" id="comment_userinput"></textarea>
        <a href="javascript:void(0);" id="submitcomment">评论</a>
    </div>

</div>

<script type="text/javascript">
    $(function(){
        // $("#mini-QRCode").find("img").click(function() {
        //     alert(1);
        //     $("#QRCode").show();
        // }).mouseout(function() {
        //     $("#QRCode").hide();
        // });
        

        $("#submitcomment").click(function(){
            var nowUrl = window.location.href;
            var newUrl = nowUrl.substring(38); 

            //随机姓名
            var xing_array = new Array('赵', '钱', '孙', '李', '周', '吴', '郑', '王', '冯', '陈', '楮', '卫', '蒋', '沈', '韩', '杨',
                                '朱', '秦', '尤', '许', '何', '吕', '施', '张', '孔', '曹', '严', '华', '金', '魏', '陶', '姜',
                                '戚', '谢', '邹', '喻', '柏', '水', '窦', '章', '云', '苏', '潘', '葛', '奚', '范', '彭', '郎',
                                '鲁', '韦', '昌', '马', '苗', '凤', '花', '方', '俞', '任', '袁', '柳', '酆', '鲍', '史', '唐',
                                '年', '爱', '阳', '佟', '商', '牟', '佘', '佴', '伯', '赏');
            var ming_array = new Array('去','啊','人','我','他','好','的','分','个','还','前','群','呵','否','给','和','座','能','从',
                                '说','个','撒旦','而','人头','统一','帮你','测试','速度','如果','恶搞','阿森','挨饿','别人','出去',
                                '发个','立即','下次','差别','不能','奶妈','路口','科技','就好','很高','官方','发的','但是','仨','破',
                                '内容','同学','我还','人不','没呢','女王','测','昨天','那个','然后','黑铁','分','我的','强化','小时');
            var xing = xing_array[parseInt(xing_array.length*Math.random())];
            var ming = ming_array[parseInt(ming_array.length*Math.random())];

            //随机头像
            var face_num = parseInt(20*Math.random());

            var time = Math.round(new Date() / 1000);
            var user_input = $("#comment_userinput").val();
            var username = xing + ming;
            var face = "public/images/face/" + face_num + ".jpg";

            if (user_input=="") {
                layer.msg('评论不能为空！', {icon: 5});
                return;
            }else {
                $.ajax({
                    url:"handler/insertcomment.php",
                    type:"POST",
                    data:{mid:newUrl,time:time,user_input:user_input,username:username,face:face},
                    success:function(data){
                        if(data=="30000"){
                            $(".load_box").css("display", "block");
                            setTimeout(function () {
                                    $(".load_box").css("display", "none");
                                }, 1100);
                            layer.msg('评论成功！', {icon: 6});
                            $("#comment_userinput").val("");
                            setTimeout(function () {
                                    history.go();
                                }, 2000);
                        }else if(data=="30001"){
                            layer.msg('评论失败！', {icon: 5});
                        }else {
                            layer.msg('未知错误！', {icon: 5});
                        }
                    }
                });
            }
        });
    });
        
</script>