<script type="text/javascript">
    $(function(){
        $(".link-a").children("a").removeClass("activea");
        $(".link-a").children("a").eq(3).addClass("activea word4");
    });
</script>

<div class="container bread">
    <h4 class="hot-title">影片排行榜</h4>
</div>

<div class="container bread">
    <h5 class="hot-title hot-title-clear" ng-controller="allType">影片类型：
        <a href="#!/ranking/0" style="text-decoration: none;">全部&nbsp;&nbsp;</a>
        <a href="#!/ranking/{{item.id}}" ng-repeat="item in alltype" style="text-decoration: none;">{{item.name}}&nbsp;&nbsp;</a>
    </h5>
</div>

<div ng-controller="ranking">
    <div class="container">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item-box" ng-repeat="item in movies | filter:''">
            <a href="#!/detail/{{item.id}}">
                <img src="{{item.images}}" title="{{item.name}}">
                <h5>{{item.name}} ({{item.date}})</h5>
                <h5>类型：{{item.typename}}</h5>
                <h5>评分：{{item.score}}</h5>
            </a>
        </div>
    </div>

    <div class="container text-center">
        <ul class="pagination">
            <li><a href="javascript:void(0);" ng-click="prev()">上一页</a></li>
            <li ng-repeat="page in pageList" ng-class="{active:isactive(page)}"><a href="javascript:void(0);" ng-click="changPage(page)">{{page}}</a></li>
            <li><a href="javascript:void(0);" ng-click="next()">下一页</a></li>
        </ul>
    </div>
</div>
