<script type="text/javascript">
    $(function(){
        $(".link-a").children("a").removeClass("activea");
        $(".link-a").children("a").eq(0).addClass("activea");
    });
</script>

<div class="container bread">
    <h4 class="hot-title">搜索结果</h4>
</div>

<div ng-controller="searchCtrl">
    <div class="container">
        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 item-box" ng-repeat="item in movies|orderBy:'score': true" on-finish>
            <a href="#!/detail/{{item.id}}">
                <img src="{{item.images}}" title="{{item.name}}">
                <h5>{{item.name}} ({{item.date}})</h5>
                <h5>类型：{{item.typename}}</h5>
            </a>
        </div>
    </div>

    <div class="container text-center">
        <ul class="pagination">
            <li><a href="javascript:void(0);" ng-click="prev()">上一页</a></li>
            <li ng-repeat="page in pageList" ng-class="{active:isactive(page)}"><a href="javascript:void(0);" ng-click="changPage(page)">{{page}}</a></li>
            <li><a href="javascript:void(0);" ng-click="next()">下一页</a></li>
        </ul>
    </div>
</div>